<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.web.diegoflassa_site.littledropsofrain.little_drops_of_rain_flutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
